#sidebar-wrapper{
	
	padding-top: 10px;
	border: 1px solid red;
	margin-top: 40px;
	width: 30%;
	float: right;
	height: 1000px;
	display: block;
	background-color: black;
}

.jumbotron{
	height: 800px;
	margin: none;
}

#home{
	background-color: #6495ED;
}

#about{
	background-color: ;
}

#contact{
	background-color:;
}

#sidebar-home{
	background-color: lightgrey;
	width: ;
	height: 751px;
	float: right;
	opacity: 10%;
}

#about{
	
}
section#about-title{
	height: 100px;
	padding-bottom: 0;
	margin-top: 30px;
	background-color: royalblue;
	border: ;
	color: white;
	text-align: center;
}

#sidebar-about{
	float: right;
}
img.demo{
	width: 100%;
}

section#contact-title{
	height: 100px;
	padding-bottom: 0;
	margin-top: 30px;
	background-color: royalblue;
	border: ;
	color: white;
	text-align: center;
}

form{
	padding-top: 40px;
}
footer{
	background: #333;
	color: #fff;
	padding: 30px 0 20px 0;
}

footer li{
	float: left;
	padding: 0 10px 0 10px;
	list-style: none;
}

footer p{
	float: right;
}